body {
    background-color: pink;
}

@media (min-width: 675px) {
    body {
        background-color: purple;
    }
}

@media (min-width: 999px) {
    body {
        background-color: grey;
    }
}

@media (min-width: 1280px) {
    body {
        background-color: navy;
    }
}

@media (max-width: 1080px) {
    body {
        background-color: green;
    }
}

@media (max-width: 550px) {
    body {
        background-color: lime;
    }
}

@media (max-width: 400px) {
    body {
        background-color: red;
    }
}
